.header {
  background: linear-gradient(90deg, #0a0a0f, #1a0033);
  border-bottom: 2px solid #8a2be2;
  color: #e0e0ff;

  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  color: #bb86fc;
  text-shadow: 0 0 10px #8a2be2;
}

.header a {
  margin-left: 20px;
  color: #e0e0ff;
  text-decoration: none;
  transition: 0.2s;
}

.header a:hover {
  color: #bb86fc;
  text-shadow: 0 0 8px #8a2be2;
}