.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 20, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #0f0f1a;
  padding: 25px;
  border-radius: 12px;
  width: 400px;

  border: 1px solid #8a2be2;
  box-shadow: 0 0 20px #8a2be2;

  animation: fadeIn 0.2s ease-in-out;
}

.modal input {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;

  background: #1a1a2e;
  border: 1px solid #8a2be2;
  color: white;
}

.modal button {
  width: 100%;
  padding: 10px;

  background: #8a2be2;
  border: none;
  color: black;
  cursor: pointer;
}

.modal button:hover {
  box-shadow: 0 0 10px #bb86fc;
}

.close {
  float: right;
  cursor: pointer;
  color: #bb86fc;
}

@keyframes fadeIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}